@use '@angular/material' as mat;
@use 'm3-theme.scss' as m3-theme;
@import url('https://use.typekit.net/ixd2vgq.css?ver=0.7');
$mit-typography: mat.define-theme((typography :(brand-family: "neue-haas-grotesk-display",
                plain-family: "neue-haas-grotesk-text"
            )));


// Set all fonts in NDE to Typekit neue haas grotesk
html {
    @include mat.all-component-typographies($mit-typography);
    @include mat.system-level-typography($mit-typography)
}

// Set default theme colors for NDE
.custom-nde-theme {
    @include mat.all-component-colors(m3-theme.$light-theme);
    @include mat.system-level-colors(m3-theme.$light-theme);
}

//===================
// MITL DS VARIABLES
//===================
$color-white: #fff;
$color-black: #000;

$color-gray-400: #B3B3B3;
$color-gray-600: #666666;
$color-gray-975: #1A1A1A;

$color-red-600: #E50000;

//===================
// EFFECTS
//===================
@mixin hoverOutline {
    outline: 2px solid $color-gray-600 !important;
    outline-offset: 2px !important;
}

@mixin focusOutline {
    outline: 2px solid #00C8FF !important;
    outline-offset: 2px !important;
}

//===================
// MAIN NAVIGATION
//===================

// Override Navigation Container
.container[_ngcontent-ng-c1837336355] .top-bar[_ngcontent-ng-c1837336355] {
    background-color: $color-gray-975 !important;
    padding: 0 !important;
}

// Override Language Selector
.lang-drop-down[_ngcontent-ng-c1893398133] .custom-lang-dropdown[_ngcontent-ng-c1893398133] {
    color: $color-gray-400;
}

header.top-bar {

    .header-container {
        background: url("https://cdn.mitlibrary.net/files/branding/local/vi-shape7-tp.svg") no-repeat -48px -250px;
        padding: 32px 0 !important;      
        
        .main-menu-container {
            justify-content: flex-end;

            ul {

                li {

                    a {
                        color: $color-white;
                        font-size: 1.125rem;
                        text-transform: none;
                        padding-left: 16px;
                        padding-right: 16px;
                    }

                    mat-divider {
                        display: none;
                    }

                    button.show-more-btn {
                        color: $color-white;
                    }

                }

            }

        }

        nde-user-panel {
            flex-basis: auto !important;
        }
    }

    .mat-icon svg path {
        color: $color-gray-400;
    }
}

//===================
// SEARCH CONTAINERS (Homepage and Child Pages)
//===================

//Override homepage search container height
.container[_ngcontent-ng-c1837336355] .custom-search-bar-container[_ngcontent-ng-c1837336355] {
    height: auto !important;
}

// Override search box wrapper
.search-bar-container[_ngcontent-ng-c133002507] .search-bar-wrapper[_ngcontent-ng-c133002507] {
    background-color: transparent !important;
    border: none !important;
    padding-left: 0 !important;
}

div.search-container {

    .search-bar-container > .flex-row {
        align-items: center;
    }

    div.top-bar-background-image, .general-search-header-background {
        background-image: none !important;
        background-color: $color-black;

        .background-overlay { background-color: $color-black !important;}        
    }

    .custom-search-bar-container > h2 {
        display: none;
    }
    
    .search_box_container {gap: 4px;}

    // Search form element styling
    #search-dropdown-container-button-scopes-dropdown, #main-search-bar, button.search-btn {
        border-radius: 0px !important;
        height: 46px;

        &:hover {
            @include hoverOutline;
        }

        &:focus-visible {
            @include focusOutline;
        }
    }

    #search-dropdown-container-button-scopes-dropdown, #main-search-bar {
        border: none;
        background-color: $color-white;   
        padding: 0 20px;
    }

    button.search-btn {
        background-color: $color-red-600;
        color: $color-white;
        width: 46px;

        svg {
            fill: $color-white;
        }
    }

}