@use '@angular/material' as mat;
@use 'm3-theme.scss' as m3-theme;
@import url('https://use.typekit.net/ixd2vgq.css?ver=0.7');
$mit-typography: mat.define-theme((typography :(brand-family: "neue-haas-grotesk-display",
                plain-family: "neue-haas-grotesk-text"
            )));


// Set all fonts in NDE to Typekit neue haas grotesk
html {
    @include mat.all-component-typographies($mit-typography);
    @include mat.system-level-typography($mit-typography)
}

// Set default theme colors for NDE
.custom-nde-theme {
    @include mat.all-component-colors(m3-theme.$light-theme);
    @include mat.system-level-colors(m3-theme.$light-theme);
}

//===================
// MITL DS VARIABLES
//===================
$color-white: #fff;

$color-gray-400: #B3B3B3;
$color-gray-975: #1A1A1A;

//===================
// MAIN NAVIGATION
//===================

// Override Navigation Container
.container[_ngcontent-ng-c1837336355] .top-bar[_ngcontent-ng-c1837336355] {
    background-color: $color-gray-975 !important;
    padding: 0 !important;
}

// Override Language Selector
.lang-drop-down[_ngcontent-ng-c1893398133] .custom-lang-dropdown[_ngcontent-ng-c1893398133] {
    color: $color-gray-400;
}


header.top-bar {

    .header-container {
        background: url("https://cdn.mitlibrary.net/files/branding/local/vi-shape7-tp.svg") no-repeat -48px -250px;
        padding: 32px 0 !important;      
        
        .main-menu-container {
            justify-content: flex-end;

            ul {

                li {

                    a {
                        color: $color-white;
                        font-size: 1.125rem;
                        text-transform: none;
                        padding-left: 16px;
                        padding-right: 16px;
                    }

                    mat-divider {
                        display: none;
                    }

                }

            }

        }

        nde-user-panel {
            flex-basis: auto !important;
        }
    }

    .mat-icon svg path {
        color: $color-gray-400;
    }
}

